* {
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  position: fixed;
  z-index:100;
  top:0;
  height: 80px;
  width: 100vw;
  background-color: rgb(255,255,255);
  box-shadow: 0px 3px 7px rgb(0,0,0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Header h1 {
  position: absolute;
  left:50px;
}

.Header p {
  font-size: 14px;
  margin: 10px 15px;
  cursor: pointer;
}

.Header a {
  font-size: 14px;
  margin: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0,0,0);
}

.Body {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.ArticleBody {
  flex-basis: 80%;
  padding: 20px;
}

.ArticleBody h2 {
  text-align: left;
}

.ArticleBody pre {
  text-align: left;
}

.ArticleList {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ArticleListUnit {
  margin:10px;
  width:100%;
  text-align: left;
}

.ArticleListUnit p {
  cursor: pointer;
  text-align: left;
  display: inline-block;
}

.ArticleListUnit h3 {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right: 20px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(0,0,0);
  opacity: 0.2;
}

.ArticleListUnit h3:hover {
  color: rgb(255,0,0);
  opacity: 0.5;
}

.ArticleListUnit h3:active {
  color: rgb(255,0,0);
  opacity: 1;
}

.SigninPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.dataBox {
  flex-basis:70%;
  display: flex;
  flex-direction: row;
}

.buttonBox {
  flex-basis:30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.labelBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.NewPostPage {
  width: 100vw;
  height: 100vh;
}

.PostBox {
  position: relative;
  top: 90px;
  text-align: left;
  padding: 20px;
}

#TextBox {
  width: 90%;
  height: 200px;
}