* {
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  position: fixed;
  z-index:100;
  top:0;
  height: 80px;
  width: 100vw;
  background-color: rgb(255,255,255);
  box-shadow: 0px 3px 7px rgb(0,0,0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Header h1 {
  position: absolute;
  left:50px;
}

.Header p {
  font-size: 14px;
  margin: 10px 15px;
  cursor: pointer;
}

.Body {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.ArticleBody {
  flex-basis: 80%;
  padding: 20px;
}

.ArticleBody h2 {
  text-align: left;
}

.ArticleBody pre {
  text-align: left;
}

.ArticleList {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ArticleListUnit {
  margin:10px;
  cursor: pointer;
}

.ArticleListUnit input {
  border: none;
  background-color: transparent;
}

.LoginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  width: 180px;
  height: 120px;
}